[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ankitbhattgb
[access "refs/for/refs/*"]
	read = group user/ankitbhattgb
	push = group user/ankitbhattgb
	label-Code-Review = -2..+2 group user/ankitbhattgb
	label-Verified = -1..+1 group user/ankitbhattgb
	rebase = group user/ankitbhattgb
	removeReviewer = group user/ankitbhattgb
	submit = group user/ankitbhattgb
[access "refs/heads/*"]
	read = group user/ankitbhattgb
	create = group user/ankitbhattgb
	push = +force group user/ankitbhattgb
	pushMerge = group user/ankitbhattgb
[access "refs/tags/*"]
	push = group user/ankitbhattgb
	push = +force group user/ankitbhattgb
